# Service
PORT=3000

# MySQL
MYSQL_HOST=47.103.7.132
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=baby9431
MYSQL_DATABASE=bubu
MYSQL_CONNECTION_LIMIT=10

# Apple Sign In
APPLE_CLIENT_ID=gwyneth.com.BuBu

# JWT
JWT_SECRET=jqEu0BGrcv7LwBC3nY53H6+XXg0yJP/9hE0yF1Z1pEEmZtJb7sFDQOaC4AzNXbm8
JWT_EXPIRES_IN=7d
JWT_ISSUER=bubu-server
JWT_AUDIENCE=bubu-client
